@media only screen and (max-width: 768px) {
  .projectComponent {
    display: grid;
    background-color: #4db6ac;
    box-shadow: 0px 2px 4px rgba(150, 150, 150, 0.5);
    border-radius: 6px;
    margin: 16px 0px;
    padding: 12px;
  }
  .projectComponent:hover {
    display: grid;
    /* grid-template-columns: 0.2fr [row1] 0.8fr[row2]; */
    background-color: #009688;
    transform: scale(1.02);
    transition: 300ms ease;
  }
  .projectComponent__media {
    width: 44px;
    height: auto;
    object-fit: contain;
  }
  .projectComponent__cardDescription {
    text-decoration: none;
  }
}

@media only screen and (min-width: 769px) {
  .projectComponent {
    display: grid;
    background-color: #4db6ac;
    box-shadow: 0px 2px 4px rgba(150, 150, 150, 0.5);
    border-radius: 6px;
    margin: 16px 0px;
    padding: 12px;
  }
  .projectComponent:hover {
    display: grid;
    /* grid-template-columns: 0.2fr [row1] 0.8fr[row2]; */
    background-color: #009688;
    transform: scale(1.02);
    transition: 300ms ease;
  }
  .projectComponent__media {
    width: 44px;
    height: auto;
    object-fit: contain;
  }
  .projectComponent__cardDescription {
    text-decoration: none;
  }
}
