.mobileStepper {
  height: auto;
  grid-row: 2/3;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: auto;
  /* border: 1px solid green; */
}
.cvContent__slider {
  height: auto;
}
.cvContent {
  box-sizing: border-box;
  position: relative;
}
.cvContent__canvasGreen {
  background-color: #26a69a;
}

.jobdescription {
  font-size: 22px;
  flex: 1;
  text-align: justify;
}

.card {
  display: grid;
  margin: 24px 0;
  grid-template-rows: 0.2 [row] 0.8[row];
  background-color: rgba(255, 255, 255, 0.4);
}
.imagePassion {
  border-radius: 50%;
  background-color: #26a69a;
}

.descriptionPassion {
  text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .cvContent__canvasGreen {
    height: 2px;
    width: 60px;
    margin-bottom: 20px;
  }
  .card {
    padding: 10px;
  }
  .cvContent {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 2em;
  }
  .cardPassion {
    justify-self: start;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .imagePassion {
    width: 2.4em;
    height: 2.4em;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 769px) {
  .cvContent__canvasGreen {
    height: 2px;
    width: 60px;
    margin-bottom: 20px;
  }
  .card {
    padding: 10px;
  }
  .cvContent {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 2em;
  }
  .cardPassion {
    justify-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .imagePassion {
    width: 3.6em;
    height: 3.6em;
  }
  h3 {
    font-size: 1em;
    margin-bottom: 10px;
  }
  p {
    font-size: 1em;
  }
}
