.mainContainer {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  z-index: -1;
  background-image: url("../../images/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.mainContainer__grid {
  display: grid;
  /* grid-template-rows: 50vh [row] repeat(6, auto [row]); */
  align-items: center;
}

.header__title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: 10px 0;
}
h2 {
  color: #26a69a;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.3rem;
}
h3 {
  color: #00796b;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}
h4 {
  color: #00897b;
  text-align: left;
}
h5 {
  color: rgb(64, 115, 255);
  text-align: left;
  font-weight: 400;
}

p {
  flex: 1;
  text-align: justify;
}

.typeWriter {
  color: #26a69a;
}
.profilePicture {
  z-index: 1;
  grid-column: 2/3;
  grid-row: 2/4;
  justify-self: center;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .mainContainer__grid {
    grid-template-columns:
      0.05fr [col1] 0.9fr [col2] 0.05fr
      [col3];
    grid-template-rows: 50vh [row] repeat(6, auto [row]);
  }
  .profilePicture {
    border: 4px solid rgb(238, 240, 252);
    width: 8rem;
    height: auto;
  }
  h1 {
    font-size: 2em;
  }
  .typeWriter {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.2em;
    margin-bottom: 4px;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mainContainer__grid {
    grid-template-columns:
      0.05fr [col1] 0.9fr [col2] 0.05fr
      [col3];
    grid-template-rows: 50vh [row] repeat(6, auto [row]);
  }
  .profilePicture {
    border: 4px solid rgb(238, 240, 252);
    width: 12rem;
    height: auto;
  }
  h1 {
    font-size: 3.2em;
  }
  .typeWriter {
    font-size: 1.6em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.8em;
  }
  p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .mainContainer__grid {
    grid-template-columns:
      0.05fr [col1] 0.9fr [col2] 0.05fr
      [col3];
    grid-template-rows: 50vh [row] repeat(6, auto [row]);
  }
  .profilePicture {
    border: 4px solid rgb(238, 240, 252);
    width: 16rem;
    height: auto;
  }
  h1 {
    font-size: 4em;
  }
  .typeWriter {
    font-size: 2em;
  }
  h2 {
    font-size: 2.4em;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1201px) {
  .mainContainer__grid {
    grid-template-columns:
      1fr [col1] 1081px [col2] 1fr
      [col3];
    grid-template-rows: 50vh [row] repeat(6, auto [row]);
  }
  .profilePicture {
    border: 4px solid rgb(238, 240, 252);
    width: 16rem;
    height: auto;
  }
  h1 {
    font-size: 4em;
  }
  .typeWriter {
    font-size: 2em;
  }
  h2 {
    font-size: 2.4em;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
}
